
@import url('https://fonts.googleapis.com/css?family=Arvo');


* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

img {
    width: 100px;


}

body {
    font-family: Arvo;
       color: white;
}

#container {
    width: 100%;
    
}

#header {
    background-color: #23144B;
    display: flex;
    flex-direction: row;
    margin: 0px;

}

#ppcont {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}


#nav .col-md-3 {
        padding: 5px 10px;
    font-size: 1.3em;
}

#profpic {
    width: 85%;


    border-top: 30px solid #F36B31;
}

 #nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;

}

.content .info .inner {
    text-align: center;
}


.content {

    background: #B65142;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content .info {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.content .info .inner {
    background: #F36B31;
    width: 85%;

}




.content .info .inner .name {
    padding: 50px 0px 70px;

    border-bottom: 5px dashed white;

}

@media screen and (max-width: 1252px) {
   .content .info .inner .name h1 {

    font-size: 200%;
   

} 

}

@media screen and (max-width: 832px) {
   .content .info .inner .name h1 {

    font-size: 150%;
   

} 

}

.content .info .inner .bio {
    padding: 50px 0px 70px;
    font-size: 150%;


}
 @media screen and (max-width: 934px) {
   .content .info .inner .bio li {

    font-size: 80%;
   

} 

}




 @media screen and (max-width: 756px) {
   .content .info .inner .bio li {

    font-size: 60%;
   

} 

}

@media screen and (max-width: 722px) {
   .tabel {
    display: none;
   }

}

 @media screen and (max-width: 724px) {
   .hub h3 {
    text-align: center;
   }

}

 @media screen and (max-width: 686px) {
   .content .info .inner .name h1 {

    font-size: 100%;
   

} 

}



.content .hub {
    background: #4F2A53;
    width: 80%;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    margin: 50px 60px 50px 60px;

}

#maintext {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

#hub-button {
    margin-top: 50px;
}

.hub-icon {
    text-align: center;
}

.hub-icon h2 {
    margin-top: 20px;
}

#about-social-media h2 {
    text-align: center;
    padding: 0px;
}

.hub .hobby {
    text-align: center;
}

#hobbies {
    text-align: left;
    margin-bottom: 20px;
}

.hub .hobby h4 {
    margin-top: 10px;
}

.hub .hobbiess {
    text-align: center;
}

.hub .filmss {
    text-align: center;

}

.hub .gamess{
    text-align: center;
}


.hub .musicss{
    text-align: center;
}

.hub .hobby img {
    border-radius: 10%;
}

#film .filmbox img {
    margin-bottom: 10px;
    border-radius: 10%;
}

#game .gamebox img {
    margin-bottom: 10px;
    border-radius: 10%;
}

#music .musicbox img {
    margin-bottom: 10px;
    border-radius: 10%;
}

#hobby .hobbybox img {
    margin-bottom: 10px;
    border-radius: 10%;
}




#cover {

    width:  100%;
}

#cover img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#checkmore h3 {
    text-align: center;
    margin-bottom: 20px;

}

#sc-logo img{
    width: 5%;
    height: 5%;
    margin-left: 10px;
    border-radius: 10px;

}

#sc-logo h5 {
    margin-left: 10px;
    padding-top: 5px;
}

.input-row label {
    margin-top: 10px;
}