{% extends 'base.html' %}

{% block title %} about me {% endblock title %} 

{%block content %}
         <div id="maintext">
                    <h1>About me!</h1>
            </div>
            <div id="about-text">
                    <p> &emsp; Hello guys! my name is Ramawajdi Kanishka Anwar. You could call me kani. I was born in 12nd January of 1999 in Jakarta, Indonesia. I have 1 elder sister. Im an informatics system student at University of Indonesia. Im on my second year right now. I will put my hobbies and track record on my Interests and Track Record tab. Here is my short Biodata!</p>
            </div> 
            <div id="about-biodata">
                    <ul>
                        <li> > Full name : Ramawajdi Kanishka Anwar</li>
                        <li> > DoB : 12 January 1999</li>
                        <li> > NPM : 1706043595</li>
                        <li> > Occupation : Student (Informatics System at University of Indonesia) </li>
                        <li> > Blood type : O</li>
                    </ul>
            </div> 
            <div id="about-social-media">
                    <h2>--Social Media--</h2>
            </div> 
            <div id="about-sosmed-list">
                    <ul>
                        <li> > Facebook : Ramawajdi Kanishka anwar</li>
                        <li> > Instagram : ramawajdi.ka</li>
                        <li> > LINE : ramawajdika</li>
                        <li> > LinkedIn : Ramawajdi Kanishka</li>
                    </ul>
            </div>
{% endblock content %}