{% extends 'base.html' %}

{% block title %} Schedule {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Schedule </h1>
            </div>
              <div id="a" class="row-fluid a">

            <table id="bang" class="table table-hover tabel" align="center">
                <thead>
                    <tr>
                    <th scope="col thead">Day</th>   
                    <th scope="col thead">Date</th>
                    <th scope="col thead">Time</th>
                    <th scope="col thead">Activity</th>
                    <th scope="col thead">Place</th>
                    <th scope="col thead">Category</th>

                </tr>
                </thead>
                
                {% for Activity in activity_list %}
                <tr>
                    <td class="col tdet">{{Activity.date|date:"l"}}</td>
                    <td class="col tdet">{{Activity.date}}</td>
                    <td class="col tdet">{{Activity.time}}</td>
                    <td class="col tdet">{{Activity.activity}}</td>
                    <td class="col tdet">{{Activity.place}}</td>
                    <td class="col tdet">{{Activity.category}}</td>
                </tr>
                {% endfor %}

            </table>




            </div>
            <div id="b" class="row-fluid b">
                <ul class="hasil">
                    </li>
                    {%for Activity in activity_list %}
                    <li id="hasilbar"> - - - - - - - - - - - - - - - - - -<br>
                    <li class= "hasils">
                        Day : {{Activity.date|date:"l"}}
                    </li>
                    <li class="hasils">
                        Date : {{Activity.date}}
                    </li>
                    <li class="hasils">
                        Time : {{Activity.time}}
                    </li>
                    <li class="hasils">
                        Activity : {{Activity.activity}}
                    </li>
                    <li class="hasils">
                        Place : {{Activity.place}}
                    </li>
                    <li class="hasils">
                        Category : {{Activity.category}}
                    </li>
                    <li id="hasilbar"> - - - - - - - - - - - - - - - - - -<br><br></li>
                    {% endfor %}
                    
                </ul>
            </div>
            <div id="buttons">
            <span class="addbutton">
                <a id="botan" type="button" class="btn btn-success sub" href="{% url 'register' %}">Add More</a>
            </span>
            <span class="deletebutton" >
                {% include 'Modal.html' %}
            </div>

{% endblock content %}