{% extends 'base.html' %}

{% block title %} Song Cover {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Form Registrasi </h1>
            </div>
              <div class="container-fluid">
        <div class="wrapper-form">
            <div class="input-row">
                <label for="input-name">Nama</label>
                <input type="text" class="form-control" placeholder="Nama anda">
            </div>
            <div class="input-row">
                <label for="input-birthdate">Tanggal Lahir</label>
                <input type="date" class="form-control" value="2018-09-21">
            </div>
            <div class="input-row">
                <label>Alamat surel</label>
                <input type="email" class="form-control" placeholder="Example@Example.com">
            </div>
            <div class="input-row">
                <label>Nama Akun</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="nama akun">
                </div>
            </div>
            <div class="input-row">
                <label>Kata Sandi</label>
                <input type="password" class="form-control" placeholder="kata sandi anda">
            </div>
            <div class="input-row">
                <label>Konfirmasi Password</label>
                <input type="password" class="form-control" placeholder="Confirm your Passowrd">
                <small>Pastikan kata sandi anda telah benar dan identik dengan yang sebelumnya</small> 
            </div>   
            <br>
            <button type="submit" class="btn btn-primary" id="btn-register">Daftar</button>
        </div>
    </div>
{% endblock content %}