         <div id="header" class="row header" style="width: 100%; ">

            <span id="ppcont" class="col-md-3 ppcont">
                    <img id="profpic" src="https://files.catbox.moe/fikegr.jpg"> 
            </span>

                <span id="nav" class="row" style="width: 50%;">
                     <div class="col navi" style="background-color:#4F2A53"><a href="{% url 'home' %}"> Home Page </a> </div>
                    <div class="col navi" style="background-color:#F36B31;"><a href="{% url 'about' %}"> About Me </a> </div>
                    <div class="col navi" style="background-color:#4F2A53;"><a href="{% url 'record' %}"> Records </a> </div>
                    <div class="col navi" style="background-color:#F36B31;"><a href="{% url 'interest' %}"> Interests </a> </div>
                    <div class="col navi" style="background-color:#4F2A53;"><a href="{% url 'register' %}"> Activity Form </a> </div>
                    <div class="col navi" style="background-color:#F36B31;"><a href="{% url 'schedule' %}"> Schedule List </a> </div>


                </span>

                
        </div>