{% extends 'base.html' %}

{% block title %} Home Page {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Welcome to my profile!</h1>
            </div>
            <div id="hub-button" class="row">
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'about' %}">
                      <img src="https://files.catbox.moe/0uon1l.png">  
                    </a>
                    <h2>About me</h2>
                </div>
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'record' %}">
                    <img src="https://files.catbox.moe/tstbwr.png"></a>
                    <h2>Track Record</h2>
                </div>
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'interest' %}">
                        <img src="https://files.catbox.moe/4v5oas.png">
                    </a>
                    <h2>Interests</h2>
                </div>
            </div>
{% endblock content %}