{% extends 'base.html' %}

{% block title %} Interest {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Hobbies and Interests</h1>
            </div>
            <div id="hobbies">
                <h3>Hobbies:</h3>
                <span id="hobby" class="row hobbiess">
                     <div class="col-md-3 hobbybox">
                        <img src="https://files.catbox.moe/jejvux.jpg">
                        <h4>Reading</h4>
                    </div>
                    <div class="col-md-3 hobbybox">
                        <img src="https://files.catbox.moe/081r1q.jpg">
                        <h4>Watching Film</h4>
                    </div>
                    <div class="col-md-3 hobbybox">
                        <img src="https://files.catbox.moe/vtr6nw.jpg">
                        <h4>Singing</h4>
                        <a href="{% url 'songcover' %}"> <button type="button" class="btn btn-danger">Try me!</button> </a>
                    </div>
                    <div class="col-md-3 hobbybox">
                        <img src="https://files.catbox.moe/xe59p3.jpg">
                        <h4>Playing Games</h4>
                    </div>

                </span>

            </div>
            <div id="interest">
                <h3>Interests:</h3>
            </div>
            <div id="films">
                <h3>Films:</h3>
                <span id="film" class="row filmss">
                     <div class="col-md-3 filmbox">
                        <img src="https://files.catbox.moe/vw8az8.jpg">
                        <h4>Mystery</h4>
                    </div>
                    <div class="col-md-3 filmbox">
                        <img src="https://files.catbox.moe/6rv320.jpg">
                        <h4>Thriller</h4>
                    </div>
                    <div class="col-md-3 filmbox">
                        <img src="https://files.catbox.moe/6450wl.jpg">
                        <h4>Action</h4>
                    </div>
                    <div class="col-md-3 filmbox">
                        <img src="https://files.catbox.moe/vx6ge2.jpg">
                        <h4>Comedy</h4>
                    </div>

                </span>

            </div>
            <div id="games">
                <h3>Games:</h3>
                <span id="game" class="row gamess">
                     <div class="col-md-3 gamebox">
                        <img src="https://files.catbox.moe/tt7s6d.jpg">
                        <h4>Mystery</h4>
                    </div>
                    <div class="col-md-3 gamebox">
                        <img src="https://files.catbox.moe/nudfcx.jpg">
                        <h4>JRPG</h4>
                    </div>
                    <div class="col-md-3 gamebox">
                        <img src="https://files.catbox.moe/chmupy.jpg">
                        <h4>Puzzle</h4>
                    </div>
                    <div class="col-md-3 gamebox">
                        <img src="https://files.catbox.moe/710y18.jpg">
                        <h4>Fighting</h4>
                    </div>

                </span>

            </div>
            <div id="musics">
                <h3>Musics:</h3>
                <span id="music" class="row musicss">
                     <div class="col-md-3 musicbox">
                        <img src="https://files.catbox.moe/21zlfl.jpg">
                        <h4>Rock</h4>
                    </div>
                    <div class="col-md-3 musicbox">
                        <img src="https://files.catbox.moe/392rmg.jpg">
                        <h4>Jazz</h4>
                    </div>
                    <div class="col-md-3 musicbox">
                        <img src="https://files.catbox.moe/wwags1.jpg">
                        <h4>City Pop</h4>
                    </div>
                    <div class="col-md-3 musicbox">
                        <img src="https://files.catbox.moe/rzhznt.jpg">
                        <h4>JPop</h4>
                    </div>

                </span>

            </div>
{% endblock content %}