{% extends 'base.html' %}

{% block title %} Activity Form {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Activity Form</h1>
            </div>
              <div class="container-fluid">

            <form id="form" method="POST" action="{% url 'jadwal_post' %} ">
                {% csrf_token %}
                {{ activity_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>


            </div>
{% endblock content %}