<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" style="color: white">
  Delete All
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete all of the schedule?
        <img src="https://4.bp.blogspot.com/-QDaJ4gPxSgM/WsmU3JsjkZI/AAAAAAAANIQ/btL5YC8BZhEif42_jpEiUVhytpgg_y-lACEwYBhgL/s320/5.gif" style="width: 100%; height: 100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="botan" type="button" class="btn btn-danger" href="{% url 'commit_destruction' %}">Delete</a>
      </div>
    </div>
  </div>
</div>