{% extends 'base.html' %}

{% block title %} Song Cover {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Song Covers</h1>
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/cjueoh.jpg">
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/1x1lmr.jpg">
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/k1abmf.jpg">
            </div>
            <div id="checkmore">
                <h3>More of my covers can be enjoyed on my Soundcloud!</h3>
            </div>
            <div id="sc-logo">
                <span class="row logo">
                     <img src="https://files.catbox.moe/vtr6nw.jpg">
                     <h5>https://soundcloud.com/shirai_ground</h5>
                </span>
               
                
            </div>
{% endblock content %}