{% extends 'base.html' %}

{% block title %} Track Record {% endblock title %} 

{%block content %}
        <div id="maintext">
                    <h1>Study and Experience</h1>
            </div>
            <div id="track-st">
                    <h4>Studies</h4>
            </div>
            <div id="track-studies">
                   <ul>
                       <li>> 2017 - present : Informatics System (University of Indonesia)</li>
                       <li>> 2015 - 2017       : SMAN 8 Jakarta</li>
                       <li>> 2013 - 2015       : SMP Labschool Jakarta</li>
                       <li>> 2008 - 2013       : SD Al Azhar Shifa Budi Jatibening</li>
                       <li>> 2006 - 2008       : TK Al Azhar Jakapermai</li>
                   </ul>
            </div>
            <div id="track-ex">
                    <h4>Experience <br></h4>
            </div>
            <div id="track-ex1">
                    <h5>2017 - 2018</h5>
                    <ul>
                        <li>> Indie Game Ignite COMPFEST X Staff</li>
                        <li>> Computer Get Together Games and Competition Staff</li>
                        <li>> BETIS 2018 participants staff</li>
                        <li>> Ristek '18 Game Development Junior member</li>
                        <li>> Indonesian Utaite Raw and Live  2017 performer and Logistics PIC</li>
                        <li>> SBF Media participant</li>
                    </ul>
            </div>
            <div id="track-ex2">
                    <h5>2016 - 2017</h5>
                    <ul>
                        <li>> Rohis SMAN 8 Jakarta External Vice Officer</li>
                        <li>> Computer Get Together Games and Competition Staff</li>
                        <li>> Indonesian Utaite Raw and Live 2016 Logistics staff</li>
                    </ul>
            </div>
{% endblock content %}